/* Corps de la page */
body
{
    margin: auto;
    /* Police */
    font-family: 'Raleway', sans-serif;
}

/* Police importée */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

#Page
{
    /* max-width: 1400px; */
    margin: 0 auto 0 auto;
    padding: 0px 50px 50px 50px;
}

/* Titre */
h1
{
    margin: 5px 0 5px 0;
}

h2
{
    font-size: medium;
}

h3
{
    font-size: medium;
    padding-left: 10px;
    margin: 0;
    line-height: 0;
}

/*  */
/* En-tête */
/*  */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Image logo Reservia */
#reservia-logo
{
    height: 40px;
}

/* Liens */
a
{
    text-decoration: none;
    color: black;
    margin: 15px;
}

/* Menu de navigation */
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    padding: 20px 0 20px 0;
}

nav a
{
    padding: 34px 15px 0 15px;
}

nav a:focus, nav a:hover, #actif
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

strong
{
    color: #0065FC;
}

/* Barre de recherche */
form
{
    display: flex;
    margin-bottom: 10px;
}

#Lieu-icone
{
    background-color: #F2F2F2;
    padding: 13px 13px 13px 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#Lieu
{
    font-weight: bold;
    padding: 10px;
    border-color: #F2F2F2;
    border-style: solid;
}

#Rechercher
{
    color: white;
    background-color: #0065FC;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-style: none;
    font-weight: bold;
}

/* Filtres */
#Filtre-bar
{
    display: flex;
    align-items: baseline;
}

.filtre
{
    display: flex;
    margin: 20px 0px 20px 20px;
    border-radius: 30px;
    border: 2px solid gainsboro;
}

#economique-icone, #familial-icone, #romantique-icone, #animaux-icone
{
    display: flex;
    border: none;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 13px;
    margin: -2px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#Economique, #Familial, #Romantique, #Animaux
{
    padding: 13px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-weight: bold;
}

#Economique:hover, #Familial:hover, #Romantique:hover, #Animaux:hover
{
    margin-left: -42px;
    padding: 13px 13px 13px 55px;
    border: none;
    border-radius: 30px;
    background-color:#F2F2F2;
    font-weight: bold;
    color:#0065FC;
}

#info-icone
{
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 6px;
    margin-right: 0.6em;
    justify-content: center;
    align-items: center;
}

#info
{
    display: flex;
    align-items: center;
}

/*  */
/* SECTION Propositions */
/*  */
#Propositions
{
    display: flex;
    flex-wrap: wrap;
}

#Propositions h1
{
    margin: 5px 10px 10px 15px;
}

#Resultats
{
    display: flex;
    flex-direction: column;
    max-width: 850px;
    /* max-width: 55%; */
    width: auto;
    border: none;
    border-radius: 20px;
    padding: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color:#F2F2F2;
}

#Populaires
{
    width: 365px;
    max-width: fit-content;
    flex: auto;
    border: none;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
    background-color:#F2F2F2;
}

#Populaires h1
{
    display: flex;
    justify-content: space-between;
}

#Articles-resultats, #Articles-populaires
{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
#Articles-populaires
{
    flex-direction: column;
}

article
{
    display: flex;
    border: none;
    min-width: 245px;
    flex: auto;
    height: 190px;
    /* margin: 15px; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}

article h3, article p
{
    line-height: normal;
    letter-spacing: normal;
    width: auto;
    word-wrap: break-word;
}

#Articles-resultats article
{
    flex-direction: column;
}

#Articles-populaires article
{
    min-width: 340px;
    height: 140px;
}

#Articles-resultats a, #Articles-populaires a
{
    flex: auto;
}

.vertical-box
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#Articles-populaires .vertical-box
{
    margin: 15px 5px 15px 5px;
}

article img
{
    object-fit: cover;
    min-width: 235px;
    flex: auto;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}

#Articles-populaires article img
{
    min-width: 120px;
    max-width: 150px;
    height: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
}

article strong
{
    color: black;
}

article p
{
    padding: 8px;
    font-size: small;
    margin: 0;
    line-height: 20%;
}


/*  */
/* Section Activités */
/*  */
#Articles-activites
{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1400px; */
    width: auto;
    margin-left: -20px;
}

#Articles-activites a, #Articles-activites .vertical-box 
{
    margin: 20px;
    flex: auto;
}

#Articles-activites h3
{
    margin: 15px;
}

#Articles-activites .vertical-box
{
    min-height: 450px;
    margin: 0;
    /* width: auto; */
    justify-content: space-between;
}

#Articles-activites article
{
    flex-direction: column;
    width: 305px;
    width: auto;
    flex: auto;
}

#Articles-activites article img
{
    width: 305px;
    width: auto;
    padding: 0;
}

#a1, #a4 {height: 450px; }
#a2 {height: 240px;}
#a3 {height: 170px;}
#a5 {height: 200px;}
#a6 {height: 210px;}

#a1 img, #a4 img {height: 390px;}
#a2 img {height: 180px;}
#a5 img {height: 140px;}
#a6 img {height: 150px;}

/*  */
/* Pied de page */
/*  */
footer
{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F2F2F2;
    padding: 40px 0 40px 0;
}

#Page-bas
{
    max-width: 1400px;
    display: flex;
    margin: auto;
    padding: 0 50px 0 50px;
}

.Rubrique
{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.Rubrique a
{
    margin: 0.5em 0 0.5em 0;
}