/* Corps de la page */
body
{
    margin: auto;
    /* Police */
    font-family: 'Raleway', sans-serif;
}

#Page
{
    margin: 0 auto 0 auto;
    padding: 0px 50px 50px 50px;
}

/* Titre */
h1
{
    margin: 5px 0 5px 0;
}

h2
{
    font-size: medium;
}

h3
{
    font-size: medium;
    padding-left: 10px;
    margin: 0;
    line-height: 0;
}

/*  */
/* En-tête */
/*  */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Image logo Reservia */
#reservia-logo
{
    height: 50px;
}

/* Liens */
a
{
    text-decoration: none;
    color: black;
    margin: 15px;
}

/* Menu de navigation */
nav ul
{
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav li
{
    padding: 34px 15px 34px 15px;
}

nav li:focus, nav li:hover, #li1
{
    border-top: 2px solid #0065FC;
}

#li3:hover, #li3:focus
{
    border: none;
}

nav a:focus, nav a:hover, #li1 a
{
    color: #0065FC;
}

strong
{
    color: #0065FC;
}

/* Barre de recherche */
form
{
    display: flex;
    margin-bottom: 10px;
    height: 50px;
}

#Lieu-icone
{
    display: block;
    padding: 15px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 1.1em;
    background-color: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#Lieu
{
    font-weight: bold;
    font-size: 1.1em;
    padding: 15px;
    border-color: #F2F2F2;
    border-style: solid;
}

#Rechercher, #Icone-rechercher
{
    color: white;
    background-color: #0065FC;
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-style: none;
    font-size: 1.1em;
}

#Icone-rechercher
{
    display: none;
}

/* Filtres */
#Filtre-bar
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.filtre
{
    display: flex;
    margin: 20px 0px 20px 20px;
    border-radius: 30px;
    border: 2px solid gainsboro;
    height: 42px;
}

#economique-icone, #familial-icone, #romantique-icone, #animaux-icone
{
    display: flex;
    border: none;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 15px;
    margin: -2px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#Economique, #Familial, #Romantique, #Animaux
{
    padding: 13px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-weight: bold;
}

#Economique:hover, #Familial:hover, #Romantique:hover, #Animaux:hover
{
    margin-left: -42px;
    padding: 13px 13px 13px 55px;
    border: none;
    border-radius: 30px;
    background-color:#fafafa;
    font-weight: bold;
    color:#0065FC;
}

#info-icone
{
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 6px;
    margin-right: 0.6em;
    justify-content: center;
    align-items: center;
}

#info
{
    display: flex;
    align-items: center;
}

/*  */
/* SECTION Propositions */
/*  */
#Propositions
{
    display: flex;
    flex-wrap: wrap;
}

#Propositions h1
{
    margin: 5px 10px 10px 15px;
}

#Resultats
{
    display: flex;
    flex-direction: column;
    max-width: 850px;
    width: auto;
    border: none;
    border-radius: 20px;
    padding: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color:#F2F2F2;
}

#Populaires
{
    width: 365px;
    max-width: 850px;
    flex: auto;
    border: none;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
    background-color:#F2F2F2;
}

#Populaires h1
{
    display: flex;
    justify-content: space-between;
}

#Articles-resultats, #Articles-populaires
{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
#Articles-populaires
{
    flex-direction: column;
}

article
{
    display: flex;
    border: none;
    /* min-width: 245px; */
    /* flex: auto; */
    height: 190px;
    /* margin: 15px; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}

article h3, article p
{
    line-height: normal;
    letter-spacing: normal;
    width: auto;
    word-wrap: break-word;
}

#Articles-resultats article
{
    flex-direction: column;
}

#Articles-populaires article
{
    height: 140px;
}

#Articles-resultats a, #Articles-populaires a
{
    flex: auto;
}

.vertical-box
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#Articles-populaires .vertical-box
{
    margin: 15px 5px 15px 5px;
}

article img
{
    object-fit: cover;
    min-width: 235px;
    flex: auto;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}

#Articles-populaires article img
{
    min-width: 130px;
    max-width: 130px;
    height: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
}

article strong
{
    color: black;
}

article p
{
    padding: 8px;
    font-size: small;
    margin: 0;
    line-height: 20%;
}

#Articles-populaires p
{
    line-height:normal;
}

/*  */
/* Section Activités */
/*  */
#Articles-activites
{
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    margin-left: -20px;
}

.boite
{
    width: 300px;
    flex: auto;
    margin: 20px;
}

#Articles-activites a
{
    margin: 20px 0 20px 0;
}

#Articles-activites .vertical-box
{
    margin: 0;
}

#Articles-activites h3
{
    margin: 15px;
}

#Articles-activites article
{
    flex-direction: column;
    max-width: 700px;
}

#Articles-activites article img
{
    padding: 0;
}

#a1, #a4 {height: 450px; }
#a2 {height: 240px;}
#a3 {height: 170px;}
#a5 {height: 200px;}
#a6 {height: 210px;}

#a1 img, #a4 img {height: 390px;}
#a2 img {height: 180px;}
#a5 img {height: 140px;}
#a6 img {height: 150px;}

/*  */
/* Pied de page */
/*  */
footer
{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F2F2F2;
    padding: 40px 0 40px 0;
}

#Page-bas
{
    display: flex;
    margin: auto;
    padding: 0 50px 0 50px;
}

.Rubrique
{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.Rubrique a
{
    margin: 0.5em 0 0.5em 0;
}

/*  */
/* Autres tailles d'écran */
/*  */

@media only screen and (max-width: 1080px)
{
    #Resultats
    {
        margin-right: 0;
    }

    form
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .filtre
    {
        margin: 5px;
    }
}

@media only screen and (max-device-width: 700px),
        only screen and (max-width: 700px)
{
    #Page
    {
        padding: 0;
        margin-bottom: 40px;
    }

    header
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    nav
    {
        width: 100%;
    }

    nav ul 
    {
        padding: 0;
        margin-bottom: 10px;
    }

    nav li
    {
        padding: 0;
        width: 50%;
        display: flex;
        text-align: center;
    }

    nav a
    {
        padding: 20px;
        margin: auto;
        width: 100%;
    }

    #li1 li, #li2 li, #li2
    {
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
    }

    nav li:hover, #li1, #li2:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    
    #li3
    {
        position: absolute;
        top: 15px;
        right: 0;
        width: auto;
    }

    #li3:hover
    {
        border: none;
    }

    #reservia-logo
    {
        margin: 20px;
    }

    #Populaires h1, #Resultats h1, #Activites h1
    {
        margin: 40px 20px 20px 20px;
    }

    #Activites h1
    {
        margin-left: 0px;
    }

    #Lieu
    {
        margin-right: -10px;
        width: 100%;
    }

    form
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #Rechercher
    {
        display: none;
    }

    #Icone-rechercher
    {
        display: block;
        border-radius: 15px;
        width: 17px;
        padding: 15px;
        padding-left: 16px;
        padding-right: 16px;
    }

    #Filtre-bar
    {
        flex-wrap: wrap;
        margin-left: -5px;
    }

    #Filtre-bar h2
    {
        width: 100%;
        margin-left: 5px;
    }

    .filtre
    {
        margin: 5px;
    }

    #Recherche, #Activites
    {
        margin: 20px;
    }

    #Propositions
    {
        flex-direction: column-reverse;
    }

    #Resultats
    {
        background-color: transparent;
    }

    #Resultats, #Populaires
    {
        padding: 0;
        margin: 0;
    }

    #Populaires
    {
        border-radius: 0;
        width: 100%;
        max-width: none;
    }

    a
    {
        margin: 6px 20px 6px 20px;
    }

    #Articles-populaires
    {
        margin-bottom: 30px;
    }

    #Articles-activites a, #Articles-activites
    {
        margin: 0;
    }

    article
    {
        min-width: none;
        width: auto;
    }

    #Activites article
    {
        
        margin: 10px 0 10px 0;
    }

    .boite
    {
        margin: 0;
    }

    #a1, #a2, #a3, #a4, #a5, #a6
    {
        height: 190px;
    }

    #a1 img, #a2 img, #a3 img, #a4 img, #a5 img, #a6 img
    {
        height: 130px;
    }

    #Page-bas
    {
        flex-direction: column;
        padding: 0 30px 0 30px;
    }

    .Rubrique
    {
        width: auto;
    }
}